In [116]:
import pandas as pd

In [117]:
budget_data_df = pd.read_csv("budget_data.csv")
budget_data_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [118]:
budget_data_df.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [119]:
budget_data_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [120]:
months=budget_data_df["Date"].count()
months

86

In [121]:
profit = budget_data_df["Profit/Losses"].sum()
profit

38382578

In [122]:
diff = budget_data_df["Profit/Losses"].diff()
diff

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [123]:
average=diff.mean()

In [124]:
average

-2315.1176470588234

In [125]:
highest_row = None
highest = 0
for row in budget_data_df.iterrows():
    if row[1]['Profit/Losses'] > highest:
        highest_row = row[1]
        highest = row[1]['Profit/Losses']
max_profit = highest_row

In [126]:
max_profit

Date              Feb-12
Profit/Losses    1170593
Name: 25, dtype: object

In [127]:
max_profit["Profit/Losses"]

1170593

In [128]:
max_profit_date=max_profit["Date"]
max_profit_date

'Feb-12'

In [129]:
lowest_row = None
lowest = 0
for row in budget_data_df.iterrows():
    if row[1]['Profit/Losses'] < lowest:
        lowest_row = row[1]
        lowest = row[1]['Profit/Losses']
max_loss = lowest_row

In [130]:
max_loss

Date               Sep-13
Profit/Losses    -1196225
Name: 44, dtype: object

In [131]:
max_loss["Profit/Losses"]

-1196225

In [132]:
max_loss_date=max_loss["Date"]
max_loss_date

'Sep-13'

In [133]:
print(f"Financial Analysis")
print(f"----------------------------------")
print(f"Toal Months: {months}")
print(f"Total: ${profit}")
print(f"Average Change: ${average}")
print(f"Greatest Increase in Profits: {max_profit_date} (${max_profit['Profit/Losses']})")
print(f"Greatest Decrease in Profits: {max_loss_date} (${max_loss['Profit/Losses']})")

Financial Analysis
----------------------------------
Toal Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-12 ($1170593)
Greatest Decrease in Profits: Sep-13 ($-1196225)