In [2]:
import pandas as pd
import numpy as np

In [5]:
budget_data_df=pd.read_csv("budget_data.csv")
budget_data_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [24]:
budget_data_df.isnull().sum()

Date             0
Profit/Losses    0
diff             1
dtype: int64

In [25]:
budget_data_df.dtypes

Date              object
Profit/Losses      int64
diff             float64
dtype: object

In [26]:
budget_data_df_Number_months=budget_data_df["Date"].count()
budget_data_df_Number_months

86

In [27]:
budget_data_df_Number_months = budget_data_df["Profit/Losses"].sum()
budget_data_df_Number_months

38382578

In [28]:
budget_data_df["diff"] = budget_data_df["Profit/Losses"].diff()
budget_data_df

      Date  Profit/Losses      diff
0   Jan-10         867884       NaN
1   Feb-10         984655  116771.0
2   Mar-10         322013 -662642.0
3   Apr-10         -69417 -391430.0
4   May-10         310503  379920.0
..     ...            ...       ...
81  Oct-16         102685 -665765.0
82  Nov-16         795914  693229.0
83  Dec-16          60988 -734926.0
84  Jan-17         138230   77242.0
85  Feb-17         671099  532869.0

[86 rows x 3 columns]

In [29]:
budget_data_df_avg_change = round(budget_data_df_change.mean(),2)
budget_data_df_avg_change

NameError: name 'budget_data_df_change' is not defined

In [30]:
budget_data_max =budget_data_df.max()
budget_data_max

Date                  Sep-16
Profit/Losses        1170593
diff             1.92616e+06
dtype: object

In [31]:
budget_maximum_max_month_prior=budget_data_max.iloc[0]
budget_maximum_max_month_prior

'Sep-16'

In [32]:
budget_data_month_rev = int(budg.iloc[2])

AttributeError: 'DataFrame' object has no attribute 'ilod'

In [20]:
min_data = budget_data_df.min()
min_data

Date               Apr-10
Profit/Losses    -1196225
dtype: object

In [ ]:
print(f"Financial Analysis")
print(f"----------------------------------")
print(f"Toal Months: {}"")
print(f"Total: ${}")
print(f"Average Change: ${}")
print(f"Greatest Increase in Profits: {} (${})")
print(f"Greatest Decrease in Profits: {} (${})")